.app-title{
  font-size: 50px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ffc61a;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border-bottom-style: solid;
}
